<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056846874683-nq4jo45sq7c57tmqv1ppbs6c2p0ccn0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056846874683-nq4jo45sq7c57tmqv1ppbs6c2p0ccn0e</string>
	<key>API_KEY</key>
	<string>AIzaSyCd0uQaspeLSR6PvP41Z6gctA9hi-gJ7w8</string>
	<key>GCM_SENDER_ID</key>
	<string>1056846874683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.com.topmedic.agendatopmedic</string>
	<key>PROJECT_ID</key>
	<string>agendatopmedicos</string>
	<key>STORAGE_BUCKET</key>
	<string>agendatopmedicos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056846874683:ios:c03f8a8145111ba0</string>
	<key>DATABASE_URL</key>
	<string>https://agendatopmedicos.firebaseio.com</string>
</dict>
</plist>