page-modal {
  #logodetalles{
    display: inline-block;
    background:url(../img/logo-header.png) no-repeat;
    width: 30px;
    height: 30px;
    background-size: auto 30px;
    vertical-align: middle;
  }
    .main-view{
        background: transparent;
      }
      .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
        background-color: #333;
      }
      .modal_content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
        width: calc(100% - 60px);
        max-height: calc(90% - 60px);
        height: auto;
        padding: 10px 10px 80px 10px;
        z-index: 100;
        margin: auto;
        padding: 10px;
        color: #333;
        background: #fff;
        border-radius: 5px;
        box-sizing: border-box;
        overflow-y:scroll;
        overflow-x:hidden;
      }
      h1{
        text-align: center;
        padding:0;
        margin-top: 0;
        font-weight: 300;
        background: #096A9C;
        color: #fff;
        padding:10px 0;
        box-sizing: border-box;
        border-radius: 5px;
        margin-bottom: 2rem;
      }
      #cerrarmodal{
        color: #fff;

        vertical-align: middle;
        
      }
      h2{
        text-align: center;
      }
      #botonVideoconsulta{
        text-align: center;
      }
      #botonVideoconsulta button{
        width:100%;
      }
      #sexicon{vertical-align: middle; display: inline-block; width: 16px; margin-top:-3px;}

button[ion-fab] {
  overflow: visible;
  position: relative;
  background-color: #096A9C;
  ion-label {
      position: absolute;
      top: -8px;
      right: 40px;

      color: white;
      background-color: #096A9C;
      line-height: 24px;
      padding: 4px 8px;
      border-radius: 4px;
  }
}

#padecimiento{
  padding: 0 5px;
  line-height: 1.25em;
}
#padecimiento span{
  width: calc(100% + 10px);
  margin-left:-5px;
  line-height: 2em;
}

p.detallecita{
  margin:5px 0 5px 0;
  line-height: 2em;
  margin-left: 3px;
  border: solid 2px #096A9C;
  border-radius: 5px;
  overflow: hidden;
}
span.datocita{
  background:#096A9C;
  color:#fff;
  padding: 0 5px;
  min-width:125px;
  display: inline-block;
}
#detallescita{
  padding: 0 5px;
  line-height: 1.25em;
}
#detallescita span{
  width: calc(100% + 10px);
  margin-left:-5px;
  line-height: 2em;
}
p.detallecita strong{
  padding: 5px;
}
.inicioconsulta{color:#00ad14}
.finconsulta{color: #e50000}
.bco{}
#modificarcita button{background: rgba(255,255,255,1);color:#000; box-shadow: 0 0 2px #000}
#modificarcita ion-label{background: rgba(255,255,255,.85);color:#000; box-shadow: 0 0 2px #000}

.button-outline-md, .button-outline-ios{
  background:#A81A47;
  color:#fff;
  border:none;
  margin:20px 0 10px 0;
}
.fab{
  contain: layout;
}
.fab-md{box-shadow: none;}
ion-fab{
  right:10px;
}

.option {
  background-color: rgb(114, 166, 233);
  text-align: center;
  overflow: visible;
}
}
